.details-page {
  background-color: #5c5c5c;
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-container {
  position: absolute;
  display: flex;
  width: 70%;
  height: 60%;
  justify-content: space-between;
  margin: 5%;
  background-color: white;
  border: solid 3px black;
  box-shadow: 11px 8px 8px black;
}

.pending-request-message {
  font-size: 18px;
}

.book-details-image {
  margin: 5%;
  width: auto;
  height: 80%;
  border: solid 2px black;
}

.close-details {
  cursor: pointer;
  width: 70%;
  height: auto;
  margin-top: 15%;
}

.close-details:hover {
  transform: scale(1.1)
}

#pages {
  font-weight: 200;
  font-size: 1rem;
}

.close-container {
  width: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#summary {
  font-size: 16px;
  height: 30%;
  overflow: hidden;
  overflow-y: scroll;
}

#title {
  font-size: 24px;
  text-align: center;
}

.borrow-btn {
  border-radius: 5px;
  margin-top: .5rem;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: large;
  color: #0F4D92;
  height: 4vh;
}

.borrow-btn-disable {
  border-radius: 5px;
  margin-top: .5rem;
  cursor: pointer;
  border: none;
  background-color: rgb(150, 150, 150);
  font-size: large;
  color: #0F4D92;
  height: 4vh;
}

.borrow-btn:hover {
  background-color: #5c5c5c;
  color: white;
}

#loading {
  font-size: 3rem;
  margin-right: 2rem;
}


.borrow-selection {
  color: #0F4D92;
  font-size: large;
  border: none;
  cursor: pointer;
}

.book-info {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .details-container {
    flex-direction: column;
    width: 90%;
    height: 90%;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2%;
  }

  .book-info {
    width: 90%;
  }

  .book-details-image {
    width: 50%;
    height: auto;
  }

  #title {
    font-size: 18px;
  }

  #summary {
    font-size: 14px;
  }

  .close-container {
    margin-top: 10%;
    width: 10%;
  }
  
}