.details-page {
  background-color: #5c5c5c;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-container {
  position: relative;
  display: flex;
  margin: 3rem;
  background-color: white;
  border: solid 3px black;
  box-shadow: 11px 8px 8px black;
}

img {
  margin: 1.75rem;
  height: 30vh;
}

#pages {
  font-weight: 200;
  font-size: 1rem;
}

.return-home-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.return-home-btn:hover {
  border-style: groove;
  border-radius: 5px;
  background-color: white;
}

#summary {
  font-size: 1.5rem;
}

#title {
  font-size: 2rem;
}

.borrow-btn {
  border-radius: 5px;
  margin-top: .5rem;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: large;
  color: #0F4D92;
  height: 4vh;
}

.borrow-btn-disable {
  border-radius: 5px;
  margin-top: .5rem;
  cursor: pointer;
  border: none;
  background-color: rgb(150, 150, 150);
  font-size: large;
  color: #0F4D92;
  height: 4vh;
}

.borrow-btn:hover {
  background-color: #5c5c5c;
  color: white;
}

#loading {
  font-size: 3rem;
  margin-right: 2rem;
}

.book-details-image {
  height: 60vh;
  border: solid 2px black;
}

.borrow-selection {
  color: #0F4D92;
  font-size: large;
  border: none;
  cursor: pointer;
}