.add-book-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container {
  height: 150vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-form {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
}

.search-header {
  margin-right: 15px;
}

.search-button {
  border: none;
  border-radius: 3px;
  background-color: white;
  color: blue;
  cursor: pointer;
  margin-left: 15px;
}

.search-button:hover {
  background-color: blue;
  color: white;
}