.add-book-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container {
  height: 150vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 20%;
  width: 70%;
  border: 2px solid #0F4D92;
  border-radius: 5px;
}

.search-form {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-header {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0F4D92;
  text-align: center;
}

.search-input {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0F4D92;
  border-color: #0F4D92;
}

.search-button {
  border: none;
  border-radius: 3px;
  background-color: white;
  color: #0F4D92;
  cursor: pointer;
  margin-left: 15px;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-button:hover {
  background-color: #5c5c5c;
  color: white;
}

.empty-search {
  color: #0F4D92;
  font-size: xx-large;
}