.borrowed-book-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin-top: -5em;
}

.borrowed-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 3px #0F4D92;
  box-shadow: 3px 3px 3px #0F4D92;
  width: 18%;
  height: 50%;
  margin: 15px;
}