.book-container {
  display: flex;
  justify-content: space-evenly;
  border: 3px solid black;
  height: 20rem;
  align-items: center;
  width: 75%;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  margin: 1rem;
}

button {
  cursor: pointer;
}