.book-container {
  display: flex;
  justify-content: space-evenly;
  border: 3px solid #0F4D92;
  height: 20rem;
  align-items: center;
  width: 75%;
  box-shadow: 11px 7px 5px grey;
  border-radius: 1rem;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.form-container {
  margin: 1rem;
  display: flex;
}

button {
  cursor: pointer;
}

.display-search {
  display: flex;
  justify-content: space-evenly;
  height: max-content;
  width: 85%;
  padding: 0.5rem;
  overflow-x: scroll;
}

.book-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}

.instructions {
  text-align: center;
}

.home-page-title {
  color: #0F4D92;
}

.loading {
  margin-top: 10px;
  height: 30px;
  width: auto;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .pending-requests {
    margin-left: 0;
  }
}


@media screen and (max-width: 800px) {
  .book-list {
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }

  .book-container,
  .display-search {
    width: 60%;
  }

  .instructions {
    font-size: 20px;
  }
}


.home-display {
  color: #0F4D92;
  font-size: xx-large;
  }
  
.return-btn {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: large;
  color: #0F4D92;
  height: 4vh;
  margin-bottom: 2rem;
}

.return-btn:hover {
  background-color: #5c5c5c;
  color: white;
}


