.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  margin-left: 3rem;
}

li {
  list-style: none;
  line-height: 1px;
}

nav {
  margin: 2rem;
}

.menuNav {
  overflow-y: scroll;
  position: fixed;
  top: 4.3rem;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
} 

.menuNav li:first-child {
  margin-top: 1.5rem;
}

ul.menuNav.menuNav.showMenu {
  height: 10vh;
  list-style: none;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-content: center;
}
