.navbar {
  height: 11vh;
  width: 100vw;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}

.logo {
  height: 100%;
}

.title {
  left: calc(50% - 13vh);
  position: absolute;
}

.welcome-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  height: 100%;
}

h1 {
  font-size: 3rem;
  padding-left: 1rem;
  color: rgb(70, 112, 130);
}

.welcome-display {
  color: rgb(70, 112, 130);
}


li {
  list-style: none;
  line-height: 1rem;
  color: #0F4D92;
}

nav {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menuNav {
  overflow-y: scroll;
  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  background-color: rgb(193, 193, 193);
}

.menuNav.showMenu {
  width: 100%;
}

.menuNav li:first-child {
  margin-top: 1rem;
}

ul.menuNav.menuNav.showMenu {
  height: 15vh;
  width: 15vw;
  list-style: none;
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 3.2rem;
  padding: 0 1rem 1rem 1rem;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 0.3rem;
  box-shadow: -4px 2px 0 grey;
  border: solid 2px black; 
  background-color: white;
}

