.navbar {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  margin-left: 3rem;
}

li {
  list-style: none;
}