.book-request {
  display: flex;
  justify-content: flex-start;
  margin-top: 2%;
  align-items: center;
  width: 80%;
  border-bottom: 2px solid black;
  /* border: solid 2px black; */
  /* border-radius: 10px; */
  margin-left: 2%;
  margin-right: 2%;
}

.pending-book-img {
  margin-left: 5%;
  margin-bottom: 2%;
}

.request-desc {
  text-align: center;
}

.accept-request-btn,
.deny-request-btn {
  border-radius: 5px;
  cursor: pointer;
  margin: 2%;
  color: #0F4D92;
  background-color: white;
  border-style: ridge;
  border-color: #5c5c5c;
  font-size: 20px;
}

.accept-request-btn:hover,
.deny-request-btn:hover {
  cursor: pointer;
  margin: 2%;
  color: white;
  background-color: #5c5c5c;
}

h3 {
  color: #0F4D92;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.request-info {
  margin-left: 5%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pending-btn-container {
  display: flex;
}

@media screen and (max-width: 800px) {
  .request-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .accept-request-btn,
  .deny-request-btn {
    font-size: 14px;
  }

  .request-desc {
    font-size: 16px;
    margin-top: 0%;
    margin-bottom: 5%
  }

  .book-request {
    width: 100%;
  }

  .info {
    font-size: 12px;
  }

  .pending-book-img {
    width: 35%;

  }
}