.book-unavailable {
  opacity: .5;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.delete-btn {
  border: none;
  border-radius: 3px;
  background-color: white;
  color: blue;
  cursor: pointer;
}

.delete-btn:hover {
  border: none;
  background-color: blue;
  color: white;
}