.book-unavailable {
  opacity: .5;
}

.my-book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: solid 3px #0F4D92;
  box-shadow: 3px 3px 3px #0F4D92;
  width: 18%;
  height: 50%;
  margin: 15px; 
}

.delete-btn {
  border: none;
  border-radius: 3px;
  background-color: white;
  color: #0F4D92;
  cursor: pointer;
}

.delete-btn:hover {
  border: none;
  background-color: #5c5c5c;
  color: white;
}

.book-available {
  border: solid 3px black
}

.book-title {
  color: #0F4D92;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}