.book-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-card-container {
  height: 80vh;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin-left: 5%;
}

.saved-msg {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .book-card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    height: 65vh;
  }
}
