.login-page {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../public/reading-room.jpg);
}

.login-container{
  height: 30vh;
  width: 30%;
  border: solid 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 3px 3px black;
  background-color: white;
}

.login-btn {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: large;
  color: #0F4D92;
  height: 4vh;
}

.login-btn:hover {
  background-color: #5c5c5c;
  color: white;
}

.page-title {
  color: black;
  font-size: x-large;
}

.create-acct {
  height: 10vh;
  width: 30vw;
  border: solid 3px black;
  box-shadow: 3px 3px 3px black;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 2%;
}

.create-account-btn {
  border: none;
  border-radius: 3px;
  background-color: white;
  color: #0F4D92;
  cursor: pointer;
  font-size: large;
}

.create-account-btn:hover {
  border: none;
  background-color: #5c5c5c;
  color: white;
}

.create-acct-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}

.create-acct-msg {
  size: x-large;
  text-align: center;
  color: #0F4D92;
}

.account-error {
  font-size: 14px;
  text-align: center;
  margin-top: 0
}

@media screen and (max-width: 800px) {
  .login-container {
    width: 70%;
  }

  .create-acct {
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  .create-acct {
    height: 20%;
    width: 50%;
  }
}