.user-dash-nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-button-mybooks{
  color: #0F4D92;
  border-color: #5c5c5c;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  border-style: ridge;
  font-size: 20px;
  margin: 15px;
  box-shadow: 1px 1px 1px #000000;
}

.nav-button-mybooks:hover{
  color: white;
  background-color: #5c5c5c;
}

.active { 
  color:#0F4D92;
  background-color:white;
  text-decoration: underline;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 800px) {
  .nav-button-mybooks {
    font-size: 14px;
    margin: 7px;
  }

  .user-dash-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}